@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eeeeee;
  scroll-behavior: smooth;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: crimson;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}
